{% extends "base.html" %}
{% block title %}{% if link_id %}ХАРЬКОВ Редактировать линк{% else %}ХАРЬКОВ Создать новый линк{% endif %}{% endblock %}

{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- IhnstanceBeginEditable name="head" -->
<meta name="description" content="{meta_content}">
<!-- IhnstanceEndEditable -->
<link rel="alternate" type="application/rss+xml" 
href="{{ SITE_URL }}rss.php?objects=xtnews" title="Все 
публикации на Харьков туристе. Новости. ">
<link href="{{ MEDIA_URL }}css/style99.css" rel="stylesheet" 
type="text/css">
<style>
div.popup_func{
  border: 0px solid red;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1600px;
  position: absolute;
  z-index: 3;

filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='{{ MEDIA_URL }}img/popup_bg_01.png');
}
div.popup_func[class]{
background: transparent url({{ MEDIA_URL }}img/popup_bg_01.png) repeat 0 0;
}
</style>
{% endblock %}
{% block content %}

<div id="sn1" style="position: absolute; overflow: hidden; height: 5px; 
z-index: 21; width: 99%; left: 1%; top: 100px; background-image: 
url(&quot;/img/snow2.gif&quot;); background-repeat: repeat-x; border: 
0px solid rgb(0, 0, 0);"></div>
<div id="sn2" style="position: absolute; overflow: hidden; height: 5px; 
z-index: 21; width: 99%; left: 1%; top: 105px; background-image: 
url(&quot;/img/snow1.gif&quot;); background-repeat: repeat-x; border: 
0px solid rgb(255, 0, 0);"></div>

<!--div style="position:absolute; overflow: hidden; height:125px; z-index: 1; width: 170px; top: 143px; left: 85%"><table width="170px"><tr><td style="padding: 0 40 0 0" align="center">{loginstat_tow}</td></tr></table></div-->

<table bgcolor1="#FFCC33" width="100%" background="{{ MEDIA_URL }}f.htm" border="0" cellpadding="0" cellspacing="0">
    <tr valign="top">
        <td bgcolor1="#000000">
            <table width="100%" background="{{ MEDIA_URL }}f.htm" border="0" cellpadding="0" cellspacing="0" height="36">
                <tr>
                    <td valign="top" width="15%" align="center">&nbsp;</td>
                    <td style="min-width: 600px;" valign="top" width="59%" align="center" height="36"> 
                        <table width="100%" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td valign="top"> 
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td><h3>{% if messages %}
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                    {% endif %}</h3><p>
                                                    <h2>{% if link_id %}
                                                                                                                    Редактировать линк
                                                        {% else %}
                                                                                                                    Создать новый линк                                                        
                                                        {% endif %}</h2></p>


<form action="/edit_link{% if link_id %}/{{ link_id }}{% endif %}" method="post">
{% csrf_token %}
<table>
    {% for field in form %}
    <tr><div >
        <td></td>
        <td>
            
            {% if field.errors %}
            <ul><span style="color: red;">
             {% for error in field.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </span>
            </ul>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
            
        </td>
    <tr><td></td>
        <td>
        {{ field.help_text }}
        </td>
    </tr></div>
    </tr>
    {% endfor %}

</table>
    

 
<table width="100%" border="0">
	<tr valign="top">
		<td>
            {% for class_item in napr_xt_classes %}
            <div class="treeview">
            <ul>
                <li class="cl">
                    <div><p><a href="#{{ class_item.vname }}" class="sc" onclick="chhidElem ({{ class_item.vcode }})">►</a>
                    <input name="xtclasschk" 
                           value="{{ class_item.pk }}" 
                           title="{{ class_item.xtcdescription }}" 
                           type="checkbox"
                           {% if class_item.pk in checked_xt_classes %} checked {% endif %}>
                    {{class_item.vname }}<br></p>
                    </div>
                        <ul id="{{ class_item.vcode }}" class="colelem">
                            {% for child_class_item in class_item.get_childs %}
                            <li>
                                <div><p>
                                <input name="xtclasschk" 
                                       value="{{ child_class_item.child.pk }}" 
                                       title="{{ child_class_item.child.xtcdescription }}" 
                                       type="checkbox"
                                       {% if child_class_item.child.pk in checked_xt_classes %} checked {% endif %}>
                                {{ child_class_item.child.vname }}<br></p>
                                </div>
                            </li>
                            {% endfor %}                           
                        </ul>
                </li>
            </ul>
            </div>
            {% endfor %}
        </td>
        <td>
            {% for class_item in geogr_xt_classes %}
            <div class="treeview">
            <ul>
                <li class="cl">
                    <div><p><a href="#{{ class_item.vname }}" class="sc" onclick="chhidElem ({{ class_item.vcode }})">►</a>
                    <input name="xtclasschk" 
                           value="{{ class_item.pk }}" 
                           title="{{ class_item.xtcdescription }}" 
                           type="checkbox"
                           {% if class_item.pk in checked_xt_classes %} checked {% endif %}>
                    {{class_item.vname }}<br></p>
                    </div>
                        <ul id="{{ class_item.vcode }}" class="colelem">
                            {% for child_class_item in class_item.get_childs %}
                            <li>
                                <div><p>
                                <input name="xtclasschk" 
                                       value="{{ child_class_item.child.pk }}" 
                                       title="{{ child_class_item.child.xtcdescription }}" 
                                       type="checkbox"
                                       {% if child_class_item.child.pk in checked_xt_classes %} checked {% endif %}>
                                {{ child_class_item.child.vname }}<br></p>
                                </div>
                            </li>
                            {% endfor %}                           
                        </ul>
                </li>
            </ul>
            </div>
            {% endfor %}
        </td>
        <td>
            {% for class_item in hrdly_xt_classes %}
            <div class="treeview">
            <ul>
                <li class="cl">
                    <div><p><a href="#{{ class_item.vname }}" class="sc" >►</a>
                    <input name="xtclasschk" 
                           value="{{ class_item.pk }}" 
                           title="{{ class_item.xtcdescription }}" 
                           type="checkbox"
                           {% if class_item.pk in checked_xt_classes %} checked {% endif %}>
                    {{class_item.vname }}<br></p>
                    </div>                       
                </li>
            </ul>
            </div>
            {% endfor %}
        </td>
    </tr>
</table>
<br>
<input name="topicstat" value="2" type="radio" {% if 2 == topicstat %} checked {% endif %}>Отправить на модерацию(Будет опубликовано после проверки)<br>
<input name="topicstat" value="3" type="radio" {% if 3 == topicstat %} checked {% endif %}>Сохранить как отложенный до следующего редактирования (никому не показывать)<br>

<br>

<br>


<input value="Сохранить" name="link_seve" type="submit" />
<input value="Удалить" name="deletelink" type="submit" />
</form>

                                             </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="contentBlock" style="" valign="top" width="25%" align="left" height="100%">
                        <table width="288px" border="0" cellpadding="0" cellspacing="0" height="100%">
                            <tr>
                                <td valign="top" align="center"></td>
                            </tr>
                            <tr>    
                                <td style="padding: 20px 0pt 0pt 0px;" valign="top" align="center">{loginstat_tow}</td>
                            </tr>
                            <tr>            
                                <td valign="top" align="center" height="100%">&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>


{% endblock %}
