{% extends "base.html" %}
{% block title %}ХАРЬКОВ Невероятный “сгибающийся велосипед”{% endblock %}


{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- IhnstanceBeginEditable name="head" -->
<meta name="description" content="{meta_content}">
<!-- IhnstanceEndEditable -->

<link href="{{ MEDIA_URL }}css/style99.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
function toggleLayer(owner_layer_id) {
    var owner_layer = document.getElementById(owner_layer_id);
    if (owner_layer){owner_layer.style.display = 'none';}
}
</script>
<style>
div.popup_func{
  border: 0px solid red;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1600px;
  position: absolute;
  z-index: 3;

filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='{{ MEDIA_URL }}img/popup_bg_01.png');
}
div.popup_func[class]{
background: transparent url({{ MEDIA_URL }}img/popup_bg_01.png) repeat 0 0;
}
</style>
{% endblock %}


{% block content %}
<table bgcolor1="#FFCC33" background="repo_files/f.htm" border="0"cellpadding="0" cellspacing="0" width="100%"><tbody>
    <tr valign="top"> 
        <td bgcolor1="#000000"> 
            <table background="repo_files/f.htm" border="0" cellpadding="0" cellspacing="0" height="36" width="100%"><tbody>
                <tr> 
                    <td align="center" valign="top" width="15%">
                        &nbsp;
                    </td>
                    <td style="min-width: 600px;" align="center" height="36" valign="top" width="59%"> 
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody>
                            <tr> 
                                <td valign="top"> <table cellpadding="0" cellspacing="0" width="100%"><tbody>
                                    <tr> 
                                        <td>
                                            <table width="100%"><tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%"><tbody>
                                                            <tr>
                                                                <td>
                                                                    {% for class in object_item.xtclass %}
                                                                    <a style="color: rgb(169, 77, 10);" href="{{ SITE_URL }}xtclass/{{ class.xtclass.vcode }}" title="{{ class.xtclass.xtcdescription }}">{{ class.xtclass.vname }}</a>{% if not forloop.last %} | {% endif %} 
                                                                    {% endfor %}
                                                                    <br>Страницы:
                                                                    {% for sheet_number_item in sheets_range %}
                                                                    {% if sheet_number_item == sheet_number %}
                                                                    <span style="color: red;">{{ sheet_number_item }}</span>
                                                                    {% else %}
                                                                    <a href="/{{ object_item.objurl }}/{{ sheet_number_item }}">{{ sheet_number_item }}</a>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                    <br>
                                                                    <h2 class="head1" align="center">{{ topic_item.title }}</h2>
                                                                    <p align="right">
                                                                    <span class="linkonf">
                                                                    <em>{{ topic_item.author_id }} {{ topic_item.dateformat|date:'d.m.Y' }}</em>
                                                                    </span><br>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    
                                                                    
                                                                    {{ topic_text|safe }}
                                                                    
                                                                    
                                                                    
                                                                    <p class="topic" align="justify"></p>         
                                                                    <p class="linkonf" align="right">
                                                                    <em>{{ topic_item.author_id }} {{ topic_item.dateformat|date:'d.m.Y' }}</em></p>
                                                                    <br>Страницы:
                                                                    {% for sheet_number_item in sheets_range %}
                                                                    {% if sheet_number_item == sheet_number %}
                                                                    <span style="color: red;">{{ sheet_number_item }}</span>
                                                                    {% else %}
                                                                    <a href="/{{ object_item.objurl }}/{{ sheet_number_item }}">{{ sheet_number_item }}</a>
                                                                    {% endif %}
                                                                    {% endfor %}
                                                                    
                                                                    <br>                                                                            
                                                                </td>
                                                            </tr>
                                                            <tr>
		<td>
		<a href="{{ SITE_URL }}phpbb/viewtopic.php?t=27618">Комментировать
 в форуме...</a><table style="font-size: 12px; background: none repeat 
scroll 0% 0% rgb(236, 205, 118);" cellpadding="3" cellspacing="1">
	<tbody><tr bgcolor="#eccd76">
		<th class="thLeft" height="26" nowrap="nowrap" width="120">Автор</th>
		<th class="thRight" nowrap="nowrap">Сообщение</th>
	</tr>

	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>Элвор</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374949#374949">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:10
		</span></td>
		<td class="row1" valign="top" width="100%">
        <span style="font-weight: bold;">DragonFly</span>, главное, что 
новость свежая <img src="{{ MEDIA_URL }}img/icon_smile.gif" alt=":)" 
title="Smile">)))<br><br>на форуме это уже четвертая тема, где этот вел 
упоминается <img src="{{ MEDIA_URL }}img/icon_smile.gif" alt=":)" title="Smile">))

        </td>
	</tr>
	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>DragonFly</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374951#374951">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:13
		</span></td>
		<td class="row1" valign="top" width="100%">
        <span style="font-weight: bold;">Элвор</span>, вроде искала в 
новостях и не нашла <img src="{{ MEDIA_URL }}img/smile.gif" alt=":-)" 
title="Smile"><br>грохнуть?
        </td>
	</tr>
	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>Элвор</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374953#374953">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:17
		</span></td>
		<td class="row1" valign="top" width="100%">
        да пофиг, пусть висит <img src="{{ MEDIA_URL }}img/icon_smile.gif" 
alt=":)" title="Smile">
        </td>
	</tr>
	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>Миша</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374955#374955">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:27
		</span></td>
		<td class="row1" valign="top" width="100%">
        Грохать конечно не надо - это единственная новость, а не ссылка с
 форума - да и самая развернутая.
        </td>
	</tr>


</tbody></table>
		</td>
	</tr>
	<tr>
		<td class="view" align="right">
		<hr align="CENTER" noshade="noshade" size="2" width="100%">
		  Количество просмотров: 435
		</td>
	</tr>
	</tbody></table>
	
  </td>
 </tr>
</tbody></table> 	</td>
                    </tr>
                  </tbody></table></td>
</tr></tbody>
    </table>
        </td>
        <td class="contentBlock" style="" align="left" height="100%" valign="top" width="25%">          				
	        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="288px"><tbody>
                <tr>
                    <td align="center" valign="top">
                        <table class="contentBlock" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="288px"><tbody>
                            <tr>
                                <td valign="top">
                                    <table class="contentBlock" align="center" border="0" cellpadding="2" cellspacing="1" width="288px"><tbody>
                                        {% if part == "xtnews" %}
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;" valign="top">
                                                <table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                    <tr>
                                                        <td colspan="2" class="headerBlock">
                                                            Последние новости
                                                        </td>
                                                    </tr>
                                                    {% for object_item in latest_news %}
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                        <img src="{{ object_item.content_object.get_ico_url }}" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                        </a>
                                                                    </td>
                                                                    <td class="litlm1" style="color: rgb(207, 88, 0); padding: 0pt 10px 0pt 0pt;">
                                                                        {{ object_item.content_object.dateformat|date:'d.m.Y' }}<br>
                                                                        <span class="linkonf2">
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                        </a>
                                                                        </span>
                                                                    </td>
                                                                </tr></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                          
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;"><table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                <tr>
                                                    <td colspan="2" class="headerBlock">
                                                        Популярные новости
                                                    </td>
                                                </tr>
                                                {% for object_item in top_news %}
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                    <img src="{{ object_item.content_object.get_ico_url }}" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                    </a>
                                                                </td>
                                                                <td class="litlm1" style="color: rgb(207, 88, 0);">
                                                                    {{ object_item.content_object.dateformat|date:'d.m.Y' }}<br>
                                                                    <span class="linkonf2">
                                                                    <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                    </a>
                                                                    </span>
                                                                </td>
                                                            </tr></tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                {% if part == "xtreport" %}
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;" valign="top">
                                                <table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                    <tr>
                                                        <td colspan="2" class="headerBlock">
                                                            Последние отчеты
                                                        </td>
                                                    </tr>
                                                    {% for object_item in recent_report %}
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                        <img src="{{ object_item.content_object.get_ico_url }}" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                        </a>
                                                                    </td>
                                                                    <td class="litlm1" style="color: rgb(207, 88, 0); padding: 0pt 10px 0pt 0pt;">
                                                                        {{ object_item.content_object.dateformat|date:'d.m.Y' }}<br>
                                                                        <span class="linkonf2">
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                        </a>
                                                                        </span>
                                                                    </td>
                                                                </tr></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                          
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;"><table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                <tr>
                                                    <td colspan="2" class="headerBlock">
                                                        Популярные отчеты
                                                    </td>
                                                </tr>
                                                {% for object_item in popular_report %}
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                    <img src="{{ object_item.content_object.get_ico_url }}" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                    </a>
                                                                </td>
                                                                <td class="litlm1" style="color: rgb(207, 88, 0);">
                                                                    {{ object_item.content_object.dateformat|date:'d.m.Y' }}<br>
                                                                    <span class="linkonf2">
                                                                    <a href="{{ object_item.content_object.get_ico_url }}">{{ object_item.content_object.description }}
                                                                    </a>
                                                                    </span>
                                                                </td>
                                                            </tr></tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;" valign="top">
                                                <table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                    <tr>
                                                        <td colspan="2" class="headerBlock">
                                                            Последние статьи
                                                        </td>
                                                    </tr>
                                                    {% for object_item in new_article %}
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                        <img src="{{ object_item.content_object.get_ico_url }}" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                        </a>
                                                                    </td>
                                                                    <td class="litlm1" style="color: rgb(207, 88, 0); padding: 0pt 10px 0pt 0pt;">
                                                                        {{ object_item.content_object.dateformat|date:'d.m.Y' }}<br>
                                                                        <span class="linkonf2">
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                        </a>
                                                                        </span>
                                                                    </td>
                                                                </tr></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                          
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;"><table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                <tr>
                                                    <td colspan="2" class="headerBlock">
                                                        Популярные статьи
                                                    </td>
                                                </tr>
                                                {% for object_item in best_article %}
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                    <img src="{{ object_item.content_object.get_ico_url }}" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                    </a>
                                                                </td>
                                                                <td class="litlm1" style="color: rgb(207, 88, 0);">
                                                                    {{ object_item.content_object.dateformat|date:'d.m.Y' }}<br>
                                                                    <span class="linkonf2">
                                                                    <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                    </a>
                                                                    </span>
                                                                </td>
                                                            </tr></tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                
                                                
                                                                           
                            
                            </table></td></tr></tbody></table></td></tr></tbody></table>
        </td>
    </tr>
    <tr>
    <td style="padding: 20px 0pt 0pt 0px;" align="center" 
valign="top">
<form action="{{ SITE_URL }}login.php" method="post" 
enctype="multipart/form-data">
<table style="padding: 0pt 0pt 20px;" border="0" cellpadding="0" 
cellspacing="0" width="165">
	<tbody><tr><td>
	  <table border="0" cellpadding="0" cellspacing="0">
	   <tbody><tr>
	      <td style="color: rgb(214, 179, 38); font-size: 12px;" 
align="right" width="62"><b>Логин:</b></td>
	      <td align="right" width="103"> 
	        <input name="username" style="margin-top: 3px; width: 100px; 
height: 20px; border: 2px solid rgb(60, 50, 7); background: none repeat 
scroll 0% 0% transparent; color: rgb(255, 255, 255);" type="text">
	      </td>
	   </tr>
		<tr>
		  <td style="color: rgb(214, 179, 38); font-size: 12px;" align="right"><b>Пароль:</b></td>
		
	      <td align="right">
	        <input name="password" style="margin-top: 3px; margin-left: 
3px; width: 100px; height: 20px; border: 2px solid rgb(60, 50, 7); 
background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 
255);" type="password">
	      </td>
	   </tr>
	   <tr> 
	      <td colspan="2" align="right"> 
	        <input style="background: none repeat scroll 0% 0% rgb(230, 
190, 26); border: 0px solid rgb(230, 190, 26);" name="redirect" 
value="/xtnews/bendy-bycicle" type="hidden">
		<input style="" name="autologin" type="checkbox">
		<input value="Войти" name="login" style="text-align: center; 
font-weight: bold; margin-top: 3px; width: 100px; height: 20px; border: 
2px solid rgb(60, 50, 7); background: none repeat scroll 0% 0% rgb(60, 
50, 7); color: rgb(160, 132, 18);" 
onmousedown="{if(username.value=='')alert('Необходимо 
авторизироваться');}" type="submit" align="middle">
	      </td>
	  </tr>
	  </tbody></table></td>
	</tr>
</tbody></table>
</form></td></tr>



	          	<tr><td align="center" height="100%" valign="top">&nbsp;</td></tr>
	          </tbody></table> 
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
{% endblock %}

