{% extends "base.html" %}
{% block title %}ХАРЬКОВ Невероятный “сгибающийся велосипед”{% endblock %}


{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- IhnstanceBeginEditable name="head" -->
<meta name="description" content="{meta_content}">
<!-- IhnstanceEndEditable -->

<link href="{{ MEDIA_URL }}css/style99.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
function toggleLayer(owner_layer_id) {
    var owner_layer = document.getElementById(owner_layer_id);
    if (owner_layer){owner_layer.style.display = 'none';}
}
</script>
<style>
div.popup_func{
  border: 0px solid red;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1600px;
  position: absolute;
  z-index: 3;

filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='{{ MEDIA_URL }}img/popup_bg_01.png');
}
div.popup_func[class]{
background: transparent url({{ MEDIA_URL }}img/popup_bg_01.png) repeat 0 0;
}
</style>
{% endblock %}


{% block content %}
<table bgcolor1="#FFCC33" background="repo_files/f.htm" border="0"cellpadding="0" cellspacing="0" width="100%"><tbody>
    <tr valign="top"> 
        <td bgcolor1="#000000"> 
            <table background="repo_files/f.htm" border="0" cellpadding="0" cellspacing="0" height="36" width="100%"><tbody>
                <tr> 
                    <td align="center" valign="top" width="15%">
                        &nbsp;
                    </td>
                    <td style="min-width: 600px;" align="center" height="36" valign="top" width="59%"> 
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%"><tbody>
                            <tr> 
                                <td valign="top"> <table cellpadding="0" cellspacing="0" width="100%"><tbody>
                                    <tr> 
                                        <td>
                                            <table width="100%"><tbody>
                                                <tr>
                                                    <td>
                                                        <table width="100%"><tbody>
                                                            <tr>
                                                                <td>
                                                                    {% for class in xtclass %}
                                                                    <a style="color: rgb(169, 77, 10);" href="{{ SITE_URL }}xtclass/{{ class.xtclass.vcode }}" title="{{ class.xtclass.xtcdescription }}">{{ class.xtclass.vname }}</a>{% if not forloop.last %} | {% endif %} 
                                                                    {% endfor %}
                                                                    <br>
                                                                    <h2 class="head1" align="center">{{ topic_item.title }}</h2>
                                                                    <p align="right">
                                                                    <span class="linkonf">
                                                                    <em>{{ topic_item.author_id }} {{ topic_item.date }}</em>
                                                                    </span><br>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                {{ topic_item.description }}
                                                                
                                                                
                                                                    <p class="topic" align="justify">
                                                                    {% comment %}
                                                                    <span style="word-spacing: 0px; font: medium 'Times New Roman'; text-transform: none; color: rgb(0, 0, 0); text-indent: 0px; white-space: normal; letter-spacing: normal; border-collapse: separate; orphans: 2; widows: 2;" class="Apple-style-span">
                                                                    <div style="background-color: transparent; margin: 0px;">
                                                                    <div style="text-align: justify;">
                                                                    <span style="font-family: Arial;" class="Apple-style-span">
                                                                    <em>21-летний 
                                                                    <span style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; font-family: Arial; background-color: transparent; text-decoration: none;">британский 
                                                                    </span>дизайнер изобрел велосипед, который можно согнуть вокруг фонарного столба.
                                                                    </em>
                                                                    </span>
                                                                    </div>
                                                                    <font face="arial,helvetica,sans-serif">
                                                                    <div style="text-align: justify;"><br></div>
                                                                    <span style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; font-family: Arial; background-color: transparent; text-decoration: none;">
                                                                    <div style="text-align: justify;">Молодой конструктор изобрел революционный складной велосипед, который способен помешать ворам в их намерениях.
                                                                    </div>
                                                                    </span>
                                                                    <span style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; font-family: Arial; background-color: transparent; text-decoration: none;">
                                                                    <div style="text-align: justify;">
                                                                    <span style="font-family: 'Times New Roman';" class="Apple-style-span">
                                                                    <font face="arial,helvetica,sans-serif">
                                                                    <span style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; font-family: Arial; background-color: transparent; text-decoration: none;">Кевин Скот (21 год) разработал футуристи
                                                                    </span>
                                                                    </font>
                                                                    </span>
                                                                    <span style="font-family: 'Times New Roman';" class="Apple-style-span"><span 
style="font-family: Arial;" class="Apple-style-span">ческий байк, 
который оборачивается вокруг фонарного столба и таким образом может быть
 надежно пристегнут без помощи велозамка или цепи.</span></span></div></span></font></div><div
 style="background-color: transparent; margin: 0px;"><div 
style="text-align: justify;"><font class="Apple-style-span" face="arial,
 helvetica, sans-serif"><br></font></div><font 
face="arial,helvetica,sans-serif"><div style="text-align: justify;"><span
 style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 
0); font-style: normal; font-family: Arial; background-color: 
transparent; text-decoration: none;">Выпускник британского университета 
De Monfort </span><span style="font-weight: normal; vertical-align: 
baseline; color: rgb(0, 0, 0); font-style: normal; font-family: Arial; 
background-color: transparent; text-decoration: none;">University 
использовал сложную систему, встроенную в раму велосипеда, позволяющую 
обернуть его вокруг столба и заблокировать в таком состоянии оба колеса и
 раму.</span></div></font></div><div style="text-align: center; 
background-color: transparent; margin: 0px;">&nbsp;</div><div 
style="text-align: center; background-color: transparent; margin: 0px;"><img
 src="{{ MEDIA_URL }}img/image1.jpg" alt="" border="1" height="423" width="470"></div><div
 style="text-align: center; background-color: transparent; margin: 0px;">&nbsp;</div><div
 style="text-align: center; background-color: transparent; margin: 0px;"><img
 src="{{ MEDIA_URL }}img/article-1292986-0A5AA9DD000005DC-459_470x423.jpg" 
alt="" border="1" height="423" width="470"></div><div style="text-align:
 center; background-color: transparent; margin: 0px;">&nbsp;</div><div 
style="text-align: center; background-color: transparent; margin: 0px;"><span
 style="font-family: arial,helvetica,sans-serif; font-size: small;" 
class="Apple-style-span">Конструктор Кевин Скотт ездит на том, что 
выглядит как обычный велосипед.</span></div><div 
style="background-color: transparent; margin: 0px;"><span 
style="font-weight: normal; font-size: 12pt; vertical-align: baseline; 
color: rgb(0, 0, 0); font-style: normal; font-family: Arial; 
background-color: transparent; text-decoration: none;"><div 
style="text-align: center; background-color: transparent; font: medium 
'Times New Roman'; margin: 0px;"><span style="font-weight: normal; 
vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; 
background-color: transparent; text-decoration: none;"><font 
class="Apple-style-span" face="arial, helvetica, sans-serif"><span 
style="font-size: small;" class="Apple-style-span">До тех пор пока 
продемонстрирует, как простой механизм позволяет согнуть раму в бублик 
:)</span></font></span></div><div style="text-align: center; 
background-color: transparent; font: medium 'Times New Roman'; margin: 
0px;">&nbsp;&nbsp;</div><div style="text-align: center; 
background-color: transparent; font: medium 'Times New Roman'; margin: 
0px;"><span style="font-family: Arial; font-size: 15px;" 
class="Apple-style-span"><span style="font-family: 
arial,helvetica,sans-serif; font-size: small;" class="Apple-style-span"><img
 src="{{ MEDIA_URL }}img/image4.jpg" alt="" border="1" height="750" width="470"></span></span></div><div
 style="text-align: center; background-color: transparent; font: medium 
'Times New Roman'; margin: 0px;">&nbsp;</div><div style="text-align: 
center; background-color: transparent; font: medium 'Times New Roman'; 
margin: 0px;"><img src="{{ MEDIA_URL }}img/image3.jpg" alt="" border="1" 
height="750" width="470"></div><div style="text-align: center; 
background-color: transparent; font: medium 'Times New Roman'; margin: 
0px;">&nbsp;<span style="font-family: Arial; font-size: small;" 
class="Apple-style-span">Помимо того что велосипед можно легко 
застегнуть вокруг ближайшего столба или дерева,</span></div><div 
style="background-color: transparent; font: medium 'Times New Roman'; 
margin: 0px;"><span style="font-weight: normal; font-size: 12pt; 
vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; 
font-family: Arial; background-color: transparent; text-decoration: 
none;"><div style="background-color: transparent; font: medium 'Times 
New Roman'; margin: 0px;"><div style="text-align: center;"><span 
style="font-family: Arial; font-size: small;" class="Apple-style-span">его
 удобно хранить в небольших помещениях.&nbsp;</span></div><font 
face="arial,helvetica,sans-serif"></font><div style="text-align: 
center;"><span style="font-family: Arial; font-size: small;" 
class="Apple-style-span"><font face="arial,helvetica,sans-serif">С одной
 стороны все компоненты байка разработаны с учетом безопасности и 
возможности блокировки. </font></span></div><div style="text-align: 
center;"><span style="font-family: Arial; font-size: small;" 
class="Apple-style-span"><font face="arial,helvetica,sans-serif">С 
другой стороны рама легко приводится в жесткое состояние и позволяет 
использовать его </font></span></div><div style="text-align: center;"><span
 style="font-family: Arial; font-size: small;" class="Apple-style-span"><font
 face="arial,helvetica,sans-serif">как нормальный велосипед, и так же 
легко упаковывается сама в себя.</font></span></div><font 
face="arial,helvetica,sans-serif"></font></div><div style="text-align: 
center; background-color: transparent; font: medium 'Times New Roman'; 
margin: 0px;">&nbsp;</div><div style="background-color: transparent; 
font: medium 'Times New Roman'; margin: 0px;"><span style="font-weight: 
normal; font-size: 11pt; vertical-align: baseline; color: rgb(0, 0, 0); 
font-style: normal; font-family: Arial; background-color: transparent; 
text-decoration: none;"><div style="text-align: justify; 
background-color: transparent; font: medium 'Times New Roman'; margin: 
0px;"><span style="font-weight: normal; vertical-align: baseline; color:
 rgb(0, 0, 0); font-style: normal; background-color: transparent; 
text-decoration: none;"><font class="Apple-style-span" face="arial, 
helvetica, sans-serif">Таким образом, нахождение места для парковки 
велосипеда на оживленных лондонских улицах превращается в очень простое 
дело. Ближайший фонарный столб вполне подойдет (DF: хотя неприхотливому 
байкеру наших широт он подойдет в любом случае :) )</font></span></div><div
 style="background-color: transparent; font: medium 'Times New Roman'; 
margin: 0px;"><div style="text-align: justify;"><font 
class="Apple-style-span" face="arial, helvetica, sans-serif"><br></font></div><font
 class="Apple-style-span" face="arial, helvetica, sans-serif"><div 
style="text-align: justify;"><span style="font-family: 'Times New 
Roman';" class="Apple-style-span"><span style="font-weight: normal; 
vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; 
background-color: transparent; text-decoration: none;"><font 
class="Apple-style-span" face="arial, helvetica, sans-serif">Творение 
мистера Скотта в данный момент демонстрируется на выставке </font></span></span><span
 style="font-family: 'Times New Roman';" class="Apple-style-span"><span 
style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 
0); font-style: normal; background-color: transparent; text-decoration: 
none;"><font class="Apple-style-span" face="arial, helvetica, 
sans-serif">New Designers show</font></span></span><span 
style="font-family: 'Times New Roman';" class="Apple-style-span"><span 
style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 
0); font-style: normal; background-color: transparent; text-decoration: 
none;"><font class="Apple-style-span" face="arial, helvetica, 
sans-serif"> в Центре делового дизайна в Айлингтоне (северный Лондон). 
Кевин надеется, что на его &nbsp;необычном &nbsp;велосипеде зацепится 
взгляд возможного покровителя не равнодушного к велотеме. И это позволит
 дальнейшую разработку концепта.</font></span></span></div><span 
style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 
0); font-style: normal; background-color: transparent; text-decoration: 
none;"><div style="text-align: justify;"><span style="font-family: 
'Times New Roman';" class="Apple-style-span"><span style="font-weight: 
normal; vertical-align: baseline; color: rgb(0, 0, 0); font-style: 
normal; background-color: transparent; text-decoration: none;"><font 
class="Apple-style-span" face="arial, helvetica, sans-serif">По 
официальным данным в Лондоне каждый день крадут более 52 велосипедов. В 
2009-2010 в общей сложности было украдено </font></span></span><span 
style="font-family: 'Times New Roman';" class="Apple-style-span"><span 
style="font-weight: normal; vertical-align: baseline; color: rgb(0, 0, 
0); font-style: normal; background-color: transparent; text-decoration: 
none;"><font class="Apple-style-span" face="arial, helvetica, 
sans-serif">&nbsp;23748 велосипеда, это на 27,8% больше чем в предыдущем
 финансовом году. При этом полиция уверена, что реальное число краж 
может быть в два раза больше. Специалисты рекомендуют владельцам 
велосипедов потратить около 10% от стоимости велосипеда на приличный 
замок (а лучше два) и всегда пристегивать его за раму к какому-нибудь 
массивному объекту.</font></span></span></div></span></font></div><div 
style="text-align: justify; background-color: transparent; font: medium 
'Times New Roman'; margin: 0px;"><font class="Apple-style-span" 
face="arial, helvetica, sans-serif">&nbsp;</font></div><div 
style="background-color: transparent; font: medium 'Times New Roman'; 
margin: 0px;"><span style="font-weight: normal; font-size: 12pt; 
vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; 
font-family: Arial; background-color: transparent; text-decoration: 
none;"><font face="arial,helvetica,sans-serif" size="2">Источник: </font><a
 
href="http://www.dailymail.co.uk/sciencetech/article-1292986/Young-designer-puts-new-twist-folding-bicycle-idea.html"><font
 face="arial,helvetica,sans-serif" size="2">MailOnline</font></a><font 
face="arial,helvetica,sans-serif" size="2"> </font></span></div><div 
style="background-color: transparent; font: medium 'Times New Roman'; 
margin: 0px;"><span style="font-weight: normal; font-size: 12pt; 
vertical-align: baseline; color: rgb(0, 0, 0); font-style: normal; 
font-family: Arial; background-color: transparent; text-decoration: 
none;"><font face="arial,helvetica,sans-serif" size="2">Вольный перевод:
 DragonFly</font></span></div></span></div></span></div></span></div></span>
 		 {% endcomment %}		 		
		 </p>
         
		<p class="linkonf" align="right"><em>{{ topic_item.author_id }} {{ topic_item.date }}</em></p>
		<br>
		
      {% for class in xtclass%}
 <a style="color: rgb(169, 77, 10);" href="{{ SITE_URL }}xtclass/{{ class.xtclass.vcode }}" title="{{ class.xtclass.xtcdescription }}">{{ class.xtclass.vname }}</a>{% if not forloop.last %} | {% endif %} 
       {% endfor %}
        
        <br>
		
		</td>
	</tr>
	<tr>
		<td>
		<a href="{{ SITE_URL }}phpbb/viewtopic.php?t=27618">Комментировать
 в форуме...</a><table style="font-size: 12px; background: none repeat 
scroll 0% 0% rgb(236, 205, 118);" cellpadding="3" cellspacing="1">
	<tbody><tr bgcolor="#eccd76">
		<th class="thLeft" height="26" nowrap="nowrap" width="120">Автор</th>
		<th class="thRight" nowrap="nowrap">Сообщение</th>
	</tr>

	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>Элвор</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374949#374949">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:10
		</span></td>
		<td class="row1" valign="top" width="100%">
        <span style="font-weight: bold;">DragonFly</span>, главное, что 
новость свежая <img src="{{ MEDIA_URL }}img/icon_smile.gif" alt=":)" 
title="Smile">)))<br><br>на форуме это уже четвертая тема, где этот вел 
упоминается <img src="{{ MEDIA_URL }}img/icon_smile.gif" alt=":)" title="Smile">))

        </td>
	</tr>
	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>DragonFly</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374951#374951">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:13
		</span></td>
		<td class="row1" valign="top" width="100%">
        <span style="font-weight: bold;">Элвор</span>, вроде искала в 
новостях и не нашла <img src="{{ MEDIA_URL }}img/smile.gif" alt=":-)" 
title="Smile"><br>грохнуть?
        </td>
	</tr>
	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>Элвор</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374953#374953">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:17
		</span></td>
		<td class="row1" valign="top" width="100%">
        да пофиг, пусть висит <img src="{{ MEDIA_URL }}img/icon_smile.gif" 
alt=":)" title="Smile">
        </td>
	</tr>
	<tr bgcolor="#fffbee">
		<td class="row1" align="left" valign="top" width="150">
			<span class="name"><b>Миша</b></span><br>
			<a 
href="{{ SITE_URL }}phpbb/viewtopic.php?p=374955#374955">
				<img src="{{ MEDIA_URL }}img/icon_topic_latest.gif" alt="Сообщение" 
title="Сообщение" border="0">
			</a><span class="postdetails">		 20.07.2010 12:27
		</span></td>
		<td class="row1" valign="top" width="100%">
        Грохать конечно не надо - это единственная новость, а не ссылка с
 форума - да и самая развернутая.
        </td>
	</tr>


</tbody></table>
		</td>
	</tr>
	<tr>
		<td class="view" align="right">
		<hr align="CENTER" noshade="noshade" size="2" width="100%">
		  Количество просмотров: 435
		</td>
	</tr>
	</tbody></table>
	
  </td>
 </tr>
</tbody></table> 	</td>
                    </tr>
                  </tbody></table></td>
</tr></tbody>
    </table>
        </td>
        <td class="contentBlock" style="" align="left" height="100%" valign="top" width="25%">          				
	        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="288px"><tbody>
                <tr>
                    <td align="center" valign="top">
                        <table class="contentBlock" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="288px"><tbody>
                            <tr>
                                <td valign="top">
                                    <table class="contentBlock" align="center" border="0" cellpadding="2" cellspacing="1" width="288px"><tbody>
                                        {% if part == "xtnews" %}
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;" valign="top">
                                                <table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                    <tr>
                                                        <td colspan="2" class="headerBlock">
                                                            Последние новости
                                                        </td>
                                                    </tr>
                                                    {% for object_item in latest_news %}
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                        <img src="{{ MEDIA_URL }}img/ico_009.jpg" alt="{{ object_item.content_object.title }}" border="0" height="59" width="79">
                                                                        </a>
                                                                    </td>
                                                                    <td class="litlm1" style="color: rgb(207, 88, 0); padding: 0pt 10px 0pt 0pt;">
                                                                        {{ object_item.content_object.date }}<br>
                                                                        <span class="linkonf2">
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                        </a>
                                                                        </span>
                                                                    </td>
                                                                </tr></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                          
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;"><table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                <tr>
                                                    <td colspan="2" class="headerBlock">
                                                        Популярные новости
                                                    </td>
                                                </tr>
                                                {% for news in top_news %}
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ SITE_URL }}xtnews/elektrovelosiped-gocycle_2">
                                                                    <img src="{{ MEDIA_URL }}img/ico_012.jpg" alt="{{ news.title }}" border="0" height="59" width="79">
                                                                    </a>
                                                                </td>
                                                                <td class="litlm1" style="color: rgb(207, 88, 0);">
                                                                    {{ news.date }}<br>
                                                                    <span class="linkonf2">
                                                                    <a href="{{ SITE_URL }}xtnews/elektrovelosiped-gocycle_2">{{ news.description }}
                                                                    </a>
                                                                    </span>
                                                                </td>
                                                            </tr></tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                                {% if part == "xtreport" %}
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;" valign="top">
                                                <table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                    <tr>
                                                        <td colspan="2" class="headerBlock">
                                                            Последние отчеты
                                                        </td>
                                                    </tr>
                                                    {% for object_item in recent_report %}
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                        <img src="{{ MEDIA_URL }}img/ico_009.jpg" alt="{{ report.title }}" border="0" height="59" width="79">
                                                                        </a>
                                                                    </td>
                                                                    <td class="litlm1" style="color: rgb(207, 88, 0); padding: 0pt 10px 0pt 0pt;">
                                                                        {{ object_item.content_object.date }}<br>
                                                                        <span class="linkonf2">
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                        </a>
                                                                        </span>
                                                                    </td>
                                                                </tr></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                          
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;"><table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                <tr>
                                                    <td colspan="2" class="headerBlock">
                                                        Популярные отчеты
                                                    </td>
                                                </tr>
                                                {% for report in popular_report %}
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ SITE_URL }}xtnews/elektrovelosiped-gocycle_2">
                                                                    <img src="{{ MEDIA_URL }}img/ico_012.jpg" alt="{{ report.title }}" border="0" height="59" width="79">
                                                                    </a>
                                                                </td>
                                                                <td class="litlm1" style="color: rgb(207, 88, 0);">
                                                                    {{ report.date }}<br>
                                                                    <span class="linkonf2">
                                                                    <a href="{{ SITE_URL }}xtnews/elektrovelosiped-gocycle_2">{{ report.description }}
                                                                    </a>
                                                                    </span>
                                                                </td>
                                                            </tr></tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% else %}
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;" valign="top">
                                                <table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                    <tr>
                                                        <td colspan="2" class="headerBlock">
                                                            Последние статьи
                                                        </td>
                                                    </tr>
                                                    {% for object_item in new_article %}
                                                    <tr>
                                                        <td valign="top">
                                                            <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">
                                                                        <img src="{{ MEDIA_URL }}img/ico_009.jpg" alt="{{ article.title }}" border="0" height="59" width="79">
                                                                        </a>
                                                                    </td>
                                                                    <td class="litlm1" style="color: rgb(207, 88, 0); padding: 0pt 10px 0pt 0pt;">
                                                                        {{ object_item.content_object.date }}<br>
                                                                        <span class="linkonf2">
                                                                        <a href="{{ SITE_URL }}{{ object_item.objurl }}">{{ object_item.content_object.description }}
                                                                        </a>
                                                                        </span>
                                                                    </td>
                                                                </tr></tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}                                          
                                                   
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0pt 0pt 20px;"><table border="0" cellpadding="2" cellspacing="1"><tbody>
                                                <tr>
                                                    <td colspan="2" class="headerBlock">
                                                        Популярные статьи
                                                    </td>
                                                </tr>
                                                {% for article in best_article %}
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="5" cellspacing="5" width="280px"><tbody>
                                                            <tr>
                                                                <td>
                                                                    <a href="{{ SITE_URL }}xtnews/elektrovelosiped-gocycle_2">
                                                                    <img src="{{ MEDIA_URL }}img/ico_012.jpg" alt="{{ article.title }}" border="0" height="59" width="79">
                                                                    </a>
                                                                </td>
                                                                <td class="litlm1" style="color: rgb(207, 88, 0);">
                                                                    {{ article.date }}<br>
                                                                    <span class="linkonf2">
                                                                    <a href="{{ SITE_URL }}xtnews/elektrovelosiped-gocycle_2">{{ article.description }}
                                                                    </a>
                                                                    </span>
                                                                </td>
                                                            </tr></tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                {% endif %}
                                                {% endif %}

                                                
                                                
                                                                           
                            
                            </table></td></tr></tbody></table></td></tr></tbody></table>
        </td>
    </tr>
    <tr>
    <td style="padding: 20px 0pt 0pt 0px;" align="center" 
valign="top">
<form action="{{ SITE_URL }}login.php" method="post" 
enctype="multipart/form-data">
<table style="padding: 0pt 0pt 20px;" border="0" cellpadding="0" 
cellspacing="0" width="165">
	<tbody><tr><td>
	  <table border="0" cellpadding="0" cellspacing="0">
	   <tbody><tr>
	      <td style="color: rgb(214, 179, 38); font-size: 12px;" 
align="right" width="62"><b>Логин:</b></td>
	      <td align="right" width="103"> 
	        <input name="username" style="margin-top: 3px; width: 100px; 
height: 20px; border: 2px solid rgb(60, 50, 7); background: none repeat 
scroll 0% 0% transparent; color: rgb(255, 255, 255);" type="text">
	      </td>
	   </tr>
		<tr>
		  <td style="color: rgb(214, 179, 38); font-size: 12px;" align="right"><b>Пароль:</b></td>
		
	      <td align="right">
	        <input name="password" style="margin-top: 3px; margin-left: 
3px; width: 100px; height: 20px; border: 2px solid rgb(60, 50, 7); 
background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 
255);" type="password">
	      </td>
	   </tr>
	   <tr> 
	      <td colspan="2" align="right"> 
	        <input style="background: none repeat scroll 0% 0% rgb(230, 
190, 26); border: 0px solid rgb(230, 190, 26);" name="redirect" 
value="/xtnews/bendy-bycicle" type="hidden">
		<input style="" name="autologin" type="checkbox">
		<input value="Войти" name="login" style="text-align: center; 
font-weight: bold; margin-top: 3px; width: 100px; height: 20px; border: 
2px solid rgb(60, 50, 7); background: none repeat scroll 0% 0% rgb(60, 
50, 7); color: rgb(160, 132, 18);" 
onmousedown="{if(username.value=='')alert('Необходимо 
авторизироваться');}" type="submit" align="middle">
	      </td>
	  </tr>
	  </tbody></table></td>
	</tr>
</tbody></table>
</form></td></tr>



	          	<tr><td align="center" height="100%" valign="top">&nbsp;</td></tr>
	          </tbody></table> 
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</tbody></table>
{% endblock %}

