{% extends "base.html" %}
{% block title %}ХАРЬКОВ Все публикации на Харьков туристе. Новости{% endblock %}


{% block head %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- IhnstanceBeginEditable name="head" -->
<meta name="description" content="{meta_content}">
<!-- IhnstanceEndEditable -->
<link rel="alternate" type="application/rss+xml" 
href="{{ SITE_URL }}rss.php?objects=xtnews" title="Все 
публикации на Харьков туристе. Новости. ">
<link href="{{ MEDIA_URL }}css/style99.css" rel="stylesheet" 
type="text/css">

<script type="text/javascript">
function toggleLayer(owner_layer_id) {
    var owner_layer = document.getElementById(owner_layer_id);
    if (owner_layer){owner_layer.style.display = 'none';}
}
</script>
<style>
div.popup_func{
  border: 0px solid red;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1600px;
  position: absolute;
  z-index: 3;

filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='{{ MEDIA_URL }}img/popup_bg_01.png');
}
div.popup_func[class]{
background: transparent url({{ MEDIA_URL }}img/popup_bg_01.png) repeat 0 0;
}
</style>
{% endblock %}


{% block content %}
<table bgcolor1="#FFCC33" background="{{ MEDIA_URL }}f.htm" border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr valign="top"> 
        <td bgcolor1="#000000"> 
            <table background="{{ MEDIA_URL }}f.htm" border="0" cellpadding="0" cellspacing="0" height="36" width="100%">
                <tr> 
                    <td align="center" valign="top" width="15%">&nbsp;</td>
                    <td style="min-width: 600px;" align="center" height="36" valign="top" width="59%"> 
                        <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr> 
                                <td valign="top"> 
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tr> 
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tr style="background: url('{{ MEDIA_URL }}img/n_back.jpg') repeat scroll 0% 0% transparent;">
                                                        <td align="right" valign="top">
                                                            <table style="padding: 25px 0pt; background: url('{{ MEDIA_URL }}img/filtr.gif') no-repeat scroll 50% 50% transparent;" border="0" cellpadding="3" cellspacing="5" height="126px" width="100%">
                                                                <tr>
                                                                    <td align="center" valign="bottom">
                                                                        <span class="head1">
                                                                        <font style="color: rgb(255, 22, 0);">
                                                                        <a href="{{ SITE_URL }}xtreport">Список новостей:</a>
                                                                        </font>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" valign="top">
                                                                        <font style="color: rgb(169, 90, 49);"><b>Фильтровать:</b></font>
                                                                        <select style="width: 130px; background: none repeat scroll 0% 0% rgb(242, 225, 149);" onchange="document.location=this[this.selectedIndex].value">
                                                                        <option selected="selected" value="filter">--Направление--</option>
                                                                        <option value="/all_news/velo/1/1" title="Велосипеды байки велопоходы велоспорт">ВЕЛОСИПЕДЫ</option>
                                                                        <option value="/all_news/active/1/1" title="Активное время препровождение">Активный отдых</option>
                                                                        <option value="/all_news/automoto/1/1" title="Все у чего 
есть ДВС">Авто-мото</option><option value="/all_news/castles/1/1" 
title="Архитектурные памятники и сооружения">Архитектура</option><option
 value="/all_news/extremes/1/1" title="Экстремальные виды">Экстрим</option><option
 value="/all_news/niceplaces/1/1" title="Живописные места и 
замечательные маршруты">Живописные места</option><option 
value="/all_news/speleo/1/1" title="Пещеры">Спелео</option><option 
value="/all_news/water/1/1" title="Байдарки, паруса, акваланги, и пр.">Вода</option><option
 value="/all_news/diggers/1/1" title="Диггерство и сталкер">Диггерство</option><option
 value="/all_news/foot/1/1" title="Пешие походы">Пеший туризм</option><option
 value="/all_news/multisport/1/1" title="Приключенческие гонки 
(экстрим-марафоны)">Мультиспорт</option><option 
value="/all_news/winter/1/1" title="Лыжные походы, горные лыжи, 
сноуборд...">Зима</option><option value="/all_news/mount/1/1" 
title="Горы">Горы</option><option value="/all_news/alpinism/1/1" 
title="восхождения на труднодоступные вершины">Альпинизм</option><option
 value="/all_news/ground/1/1" title="Мать сыра земля">Земля</option><option
 value="/all_news/etnografia/1/1" title="Достопримечательности Харькова">Краеведение</option><option
 value="/all_news/underground/1/1" title="Под землей">Под землей</option><option
 value="/all_news/footmount/1/1" title="Пешком до 3000">Горный туризм</option><option
 value="/all_news/roll/1/1" title="Ролики, скейтбоард">Ролики, Скейты</option><option
 value="/all_news/parkour/1/1" title="Паркур">Паркур</option><option 
value="/all_news/veloaxtremes/1/1" title="Дертджампинг и велотриал">Дёрт
 и Триал</option><option value="/all_news/mans/1/1" title="Мужской 
отдых">Мужской отдых</option><option value="/all_news/fishing/1/1" 
title="Рыбалка">Рыбалка</option><option value="/all_news/ski/1/1" 
title="Лыжный туризм и беговые лыжи">Лыжи</option><option 
value="/all_news/mski/1/1" title="Горные лыжи и сноуборды">Горные лыжи</option><option
 value="/all_news/kayak/1/1" title="Байдарки и каяки">Байдарки</option><option
 value="/all_news/diving/1/1" title="Дайвинг">Дайвинг</option><option 
value="/all_news/quests/1/1" title="квесты">Квесты</option><option 
value="/all_news/sky/1/1" title="Небо">Небо</option><option 
value="/all_news/paraplan/1/1" title="Парапланы">Парапланы</option><option
 value="/all_news/parashut/1/1" title="Парашюты">Парашюты</option><option
 value="/all_news/travels/1/1" title="Путешествия и путешественники">Путешествия</option><option
 value="/all_news/others/1/1" title="Разное">Другое</option><option 
value="/all_news/tours/1/1" title="Туры, путевки">Туры</option><option 
value="/all_news/snowbord/1/1" title="Сноуборд">Сноуборд</option><option
 value="/all_news/windserfing/1/1" title="Виндсерфинг">Виндсерфинг</option><option
 value="/all_news/climbing/1/1" title="Скалолазание">Скалолазание</option><option
 value="/all_news/paintball/1/1" title="Пейнтбол в Харькове">Пейнтбол</option>
                                                                        </select>
                                                                        <select style="width: 130px; background: none repeat scroll 0% 0% rgb(242, 225, 149);" onchange="document.location=this[this.selectedIndex].value">
                                                                        <option selected="selected" value="filter">--География--</option>
                                                                        <option value="/all_news/america/1/1" title="Континент Америка и все что близко">Америка</option>
                                                                        <option value="/all_news/europe/1/1" title="Европа">Европа</option>
                                                                        <option value="/all_news/asia/1/1" title="Азия как часть света и все что близко">Азия</option>
                                                                        <option
 value="/all_news/sng/1/1" title="Страны СНГ кроме Украины">СНГ</option><option
 value="/all_news/ukraine/1/1" title="Украина">Украина</option><option 
value="/all_news/kharkov/1/1" title="Харьковская область">Харьков</option><option
 value="/all_news/kiev/1/1" title="Киевская область">Киев</option><option
 value="/all_news/crimea/1/1" title="Благодатный Крым">Крым</option><option
 value="/all_news/carpathian/1/1" title="Карпаты в широком смысле">Карпаты</option><option
 value="/all_news/russia/1/1" title="Россия">Россия</option><option 
value="/all_news/hungary/1/1" title="Угорщина">Венгрия</option><option 
value="/all_news/africa/1/1" title="Африка">Африка</option><option 
value="/all_news/gemany/1/1" title="германия">Германия</option><option 
value="/all_news/austria/1/1" title="австрия">Австрия</option><option 
value="/all_news/caucasus/1/1" title="Российская часть Кавказа">Кавказ</option><option
 value="/all_news/ivanofrankovsk/1/1" title="Ивано-франковск">Ивано-франковск</option><option
 value="/all_news/fareast/1/1" title="Дальний восток">Дальний Восток</option><option
 value="/all_news/israel/1/1" title="Израиль">Израиль</option>
                                                                        </select>
                                                                        <select style="width: 130px; background: none repeat scroll 0% 0% rgb(242, 225, 149);" onchange="document.location=this[this.selectedIndex].value">
                                                                        <option selected="selected" value="filter">--Сложность--</option>
                                                                        <option value="/all_news/sportrep/1/1" title="Категорийные выше третьей">Спортивные отчеты</option>
                                                                        <option value="/all_news/matrac/1/1" title="Совсем матрасные бухаловки">Матрасные отчеты</option>
                                                                        <option value="/all_news/normaltr/1/1" title="Обычные походы 0-2 сложностей">Обычные походы</option>
                                                                        </select>
                                                                    </td>
                                                                </tr>   
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr> 
                                                        <td style="padding: 0pt 20px;">
                                                            <table style="padding: 20px 0pt;" border="0" cellpadding="0" cellspacing="0" height="25" width="100%">
                                                                <tr> 
                                                                    <td class="navbar2" align="center" width="96%">
                                                                        <b>1 | <a href="{{ SITE_URL }}all_news/2/1">2</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/3/1">3</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/4/1">4</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/5/1">5</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/6/1">6</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/7/1">7</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/8/1">8</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/9/1">9</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/10/1">10</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/11/1">Следующая</a>
                                                                        </b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                </tr>
                                                                <tr> 
                                                                    <td class="navbar2" style="padding: 20px 0pt;" align="right" width="96%">
                                                                        <b>Сортировать по: <a style="text-decoration: underline;" href="{{ SITE_URL }}all_news/1/1">По дате</a>&nbsp;|&nbsp;
                                                                                           <a href="{{ SITE_URL }}all_news/1/2">По количеству просмотров</a>&nbsp;|&nbsp;
                                                                                           <a href="{{ SITE_URL }}all_news/1/3">По популярности</a>
                                                                        </b>
                                                                    </td>
                                                                </tr>  
                                                                <tr>
                                                                    <td> 
    
                                                                        <table background1="{{ MEDIA_URL }}img/logf.gif" border="0" cellpadding="3" cellspacing="0" height="70" width="100%">
                                                                            <tr> 
                                                                                <td rowspan="2" align="center" height="43" width="13%"> 
                                                                                    <table bgcolor="#000000" border="0" cellpadding="1" cellspacing="0" width="81">
                                                                                        <tr> 
                                                                                            <td>
                                                                                                <a href="{{ SITE_URL }}xtreport/bendy-bycicle">
                                                                                                <img src="{{ MEDIA_URL }}img/ico_010.jpg" alt="Невероятный “сгибающийся велосипед”" border="0" height="59" width="79"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </td>
                                                                                <td class="litlm1" valign="middle" width="87%">
                                                                                    <span class="linkonf2">
                                                                                    <a style="color: rgb(126, 65, 0);" href="{{ SITE_URL }}xtreport/bendy-bycicle">21-летний британский дизайнер изобрел велосипед, который можно со...</a> 
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="litlm1" align="right" height="15" valign="middle">
                                                                                    <font color="#a91e0a">Автор  DragonFly(20.07.2010). Теги:</font><br>
                                                                                    <a style="color: rgb(169, 77, 10);" href="{{ SITE_URL }}xtclass/europe" title="Европа">Европа</a> | 
                                                                                    <a style="color: rgb(169, 77, 10);" href="{{ SITE_URL }}xtclass/velo" title="Велосипеды байки велопоходы велоспорт">ВЕЛОСИПЕДЫ</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>


                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="navbar2" align="center" width="96%">
                                                                        <b>1 | <a href="{{ SITE_URL }}all_news/2/1">2</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/3/1">3</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/4/1">4</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/5/1">5</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/6/1">6</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/7/1">7</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/8/1">8</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/9/1">9</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/10/1">10</a> | 
                                                                               <a href="{{ SITE_URL }}all_news/11/1">Следующая</a>
                                                                        <b></b>
                                                                        </b>
                                                                    </td>
                                                                </tr> 
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="contentBlock" style="" align="left" height="100%" valign="top" width="25%">          				
                        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="288px">	          
                            <tr>
                                <td align="center" valign="top">
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 20px 0pt 0pt 0px;" align="center" valign="top">
                                    <form action="{{ SITE_URL }}login.php" method="post" enctype="multipart/form-data">
                                    <table style="padding: 0pt 0pt 20px;" border="0" cellpadding="0" cellspacing="0" width="165">
                                        <tr>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tr>
                                                        <td style="color: rgb(214, 179, 38); font-size: 12px;" align="right" width="62">
                                                            <b>Логин:</b>
                                                        </td>
                                                        <td align="right" width="103"> 
                                                            <input name="username" style="margin-top: 3px; width: 100px; height: 20px; border: 2px solid rgb(60, 50, 7); background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255);" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="color: rgb(214, 179, 38); font-size: 12px;" align="right">
                                                            <b>Пароль:</b>
                                                        </td>
                                                        <td align="right">
                                                            <input name="password" style="margin-top: 3px; margin-left: 3px; width: 100px; height: 20px; border: 2px solid rgb(60, 50, 7); background: none repeat scroll 0% 0% transparent; color: rgb(255, 255, 255);" type="password">
                                                        </td>
                                                    </tr>
                                                    <tr> 
                                                        <td colspan="2" align="right"> 
                                                            <input style="background: none repeat scroll 0% 0% rgb(230, 190, 26); border: 0px solid rgb(230, 190, 26);" name="redirect" value="/all_news/1" type="hidden">
                                                            <input style="" name="autologin" type="checkbox">
                                                            <input value="Войти" name="login" style="text-align: center; font-weight: bold; margin-top: 3px; width: 100px; height: 20px; border: 2px solid rgb(60, 50, 7); background: none repeat scroll 0% 0% rgb(60, 50, 7); color: rgb(160, 132, 18);" onmousedown="{if(username.value=='')alert('Необходимо авторизироваться');}" type="submit" align="middle">
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" height="100%" valign="top">&nbsp;</td>
                            </tr>
                        </table> 
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
