<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
	
<form action="{{ SITE_URL }}upload_ico/{{ news_id }}" method="post" enctype="multipart/form-data">
{% csrf_token %}
<table><tr><div><td></td>
		<td>

	{% if form.ico.errors %}
		<ul><span style="color: red;">
		{% for error in form.ico.errors %}
			<li><strong>{{ error|escape }}</strong></li>
		{% endfor %}
		</span>
		</ul>
	{% endif %}
	</td>
	<tr><td>
	{{ form.ico.label_tag }}:
	</td><td>
			{% if ico %}
			<img src='{{ ico }}' height=59 width=79>
			{% endif %}
	{{ form.ico }}
	<input name="submit" value="Отправить" type="submit">
	<input name="reset" value="Сброс" type="reset">	
	</td></div></tr>
	<tr><td></td>
		<td>{{ form.ico.help_text }}</td>
	</tr>
</table>

</form>

</body>
</html>